.ac-main-body{
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 10%;
    margin-right: 17%;
}
.ac-block{

        width: 350px;
         box-shadow: 0px 0px 7px rgb(202, 201, 201);
         border-radius: 5px;
         /* float: left; */
         display: inline-grid;
         margin: 50px 50px 100px 50px;
}
/* .blog-area-py-120{
    float:left;
} */


.ac-block p{
    padding: 10px 20px 10px 20px;
}

.ac-block-img{
    width: 100%;
    border-radius: 5px;
}

.ac-block-img3{
    width: 100%;
    border-radius: 5px;
    height: 425px;
}

hr{
    position: relative;
    height: 2px;
    border: none;
    background: rgb(177, 109, 177);
    width: 50%;
    margin-left: 25%;
    
}

/* footer{
    position: relative;
    bottom: 0;
} */
