@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.guides {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .career-guide {
        color: black;
        box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.20);
        border-radius: 0.75rem;
        height: 25rem;
        width: 87.5vw;
        margin: 2.5rem;
        overflow: hidden;
        display: flex;
        position: relative;
        .highlightImage {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 30%; 
            height: 100%;
        }
        .content {
            width: 70%;
            display: flex;
            flex-direction: column;
            height: 100%;
            .text {
                height: calc(100% - 3rem);
                .heading {
                    padding: 1.5rem 2rem;
                    .headingText {
                        text-decoration: underline;
                    }
                }
                .contentText {
                    padding: 0 2rem 0 4.5rem;
                }
            }
            .footer {
                height: 3rem;
                padding: 0.5rem 1rem;
                background-color: #7C59FC;
                color: #E9E4FA;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                font-weight: bold;
                text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
                .user {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    .avatar {
                        $size: 2rem;
                        height: $size;
                        width: $size;
                        border-radius: 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 740px) {
        gap: 1rem;
        .career-guide {
            flex-direction: column;
            height: max-content;
            .highlightImage {
                width: 100%;
                height: 20rem;
            }
            .content {
                height: 70%;
                width: 100%;
                .text {
                    .contentText {
                        padding: 0 2rem 1rem 2rem;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1080px) {
        .career-guide {
            width: 65rem;
        }
    }
}