:root {
  --textshadow-1: 3px 3px 1px rgb(37, 15, 131);
}

/* INDEX */

/* END OF INDEX */

/* ABOUT US */

/* END ABOUT US */

/* GALLERY */

/* END GALLERY */

/* ACHIEVEMENTS */

.ac-main-body{
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 10%;
  margin-right: 17%;
}
.ac-block{

      width: 350px;
       box-shadow: 0px 0px 7px rgb(202, 201, 201);
       border-radius: 5px;
       display: inline-grid;
       margin: 50px 50px 100px 50px;
}

.ac-block p{
  padding: 10px 20px 10px 20px;
}

.ac-block-img{
  width: 100%;
  border-radius: 5px;
}

.ac-block-img3{
  width: 100%;
  border-radius: 5px;
  height: 425px;
}

hr{
  position: relative;
  height: 2px;
  border: none;
  background: rgb(177, 109, 177);
  width: 50%;
  margin-left: 25%;
  
}

/* END ACHIEVEMENTS */

/*  MAGAZINE */

.site-breadcrumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 130px;
  padding-bottom: 50px;
  background-image: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
  z-index: 1
}

.breadcrumb-title span {
  font-size: 60px;
  padding-bottom: 0px;
  text-shadow: var(--textshadow-1)
}

.breadcrumb-subtitle {
  font-size: 35px;
  color: #fff;
  font-weight: 450;
  margin-bottom: 10px;
  text-transform: uppercase
}

.magazine-wrapper {
  /* background: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - (314px));
  max-width: 90vw;
  margin: auto;
}

.magazine-previous {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  margin: auto;
  /* background-color: blue; */
  min-height: 50vh;

}

.magazine-recent {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 60%;
  min-height: 50vh;
  /* background-color: red; */

}

.mag-section-header{
  /* background-color: #5f3bff; */
  min-width: 100%;
  text-align: center;
  font-family: 'Barlow';
}


.header-btn {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 5px;
}

.volume-wrapper {
  min-height: 50vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 32px 0px;
}

.volume{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:15px;
  justify-content: center;
}

.volume h4{
  text-align: center;
  min-width: 96%;
  margin-bottom:3px;
}

.issues {
  border-bottom: dotted 3px #5f3bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  overflow: hidden;
}

.recents-wrapper {
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60%;
  min-height: 50vh;

  /* background-color: red; */

}

.recent-mags{
  max-height: 30%;
  max-width: 30%;
  border: solid 5px #5f3bff;
  border-radius: 20px;
  overflow: hidden;
}

/* MAGAZINE END */

/* COMPETITION */
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.c-timeline {
position: relative;
margin: 20px auto;
width: 100%;
max-width: 850%;
padding: 5px 20px;
}

.c-timeline :before,
.c-timeline :after {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 150px;
height: 40px;
text-align: center;
line-height: 40px;
z-index: 5;
}

.c-timeline:before {
top: 0px;
}

.c-timeline:after {

bottom: 0px;
}

.c-timeline .c-timeline-blocks {
margin: 50px 0px;
}

.c-timeline .c-timeline-blocks:before {
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 2px;
height: 100%;
border-left: 2px dotted #555;
}

.c-timeline .c-timeline-blocks .c-blocks {
position: relative;
width: calc(50% - 20px);
margin: 20px 0px;
padding-left: 5px;
border: 1px solid #eee;
box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
}
.c-timeline .c-timeline-blocks .c-blocks:nth-child(even){
left: calc(50% + 20px);
}

/* END COMPETITION */

/* EVENTS */

.site-breadcrumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
  padding-top: 130px;
  padding-bottom: 50px;
  background-image: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
  z-index: 1;
  min-height: 380px;
}

.breadcrumb-shape {

  left: 0;
  min-width: 100%;
}

.breadcrumb-shape img {
  left: 0;
  min-width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.e-bigwrap{

  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
}

.e-blocks{
  box-shadow: 0px 0px 10px #555;
  width: 85% ;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 25px;

  /* background-color: #b4a3ff;; */
  /* height: 150px; */
}



.e-header{
  color:#eee;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: #b4a3ff;;

}
.e-blocktext{
  width:100%;
  padding: 5px 15px ;
  display: flex;
  flex-direction:column ;
  align-items: center;
  font-size:22px;
  text-align: justify;
  /* color: #fff; */
  /* justify-content: center; */
}

.e-blockimage{
  width:25%;
  border-radius: 15px;
  overflow:hidden; 
  margin: 10px;
}

.e-header h2 {
  color:#fff;
}


.e-icons {
 color:#eee;
 margin-right: 5px;

}

.e-header p{
  color:#eee;
}


/* .read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .e-blocktext .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
} */


.e-blocks:hover {

  transform: scale(1.03);
  transition: 0.4s ease-in-out;
  z-index: 50;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(183,153,252);
  background-color: #e7e5f5;
  
}



/* END EVENTS */


