:root {
    --textshadow-1: 3px 3px 1px rgb(37, 15, 131);
}

/* INDEX */

/* END OF INDEX */

/* ABOUT US */

/* END ABOUT US */

/* GALLERY */

.g-container {
    margin-top: 90px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 5px;
    justify-content: center;
    grid-auto-flow: dense;
    padding: 10px;
  }

.g-case-content {
    left: 20px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    padding: 15px 15px 15px 18px;
    background: rgba(0, 0, 0, .2);
    /* opacity: 0.8; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 3px 24px rgb(0 0 0/10%);
    overflow: hidden;
    z-index: 1
}

.g-case-content-info small {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase
}

.g-case-content-info a {
    font-size: 22px;
    color: #d1d2e7
}

.g-case-content-info a:hover {
    color: #ffffff
}

.g-slideshow
{

}

.g-col-md-6
{
    flex:0 0 auto;
    width:50%;
    border-radius: 5px;
    padding: 10px;
    background: #f2f2f2;
    position: relative;

}

.col-lg-4
{
    flex:0 0 auto;
    width:33.33333333%
}







/* END GALLERY */

/* ACHIEVEMENTS */

.ac-main-body {
    /* margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 10%;
    margin-right: 17%; */
    margin: 100px auto 200px auto;
}

.ac-block {

    width: 350px;
    box-shadow: 0px 0px 7px rgb(202, 201, 201);
    border-radius: 5px;
    display: inline-grid;
    margin: 50px 50px 100px 50px;
}

.ac-block p {
    padding: 10px 20px 10px 20px;
}

.ac-block-img {
    width: 100%;
    border-radius: 5px;
}

.ac-block-img3 {
    width: 100%;
    border-radius: 5px;
    height: 425px;
}

hr {
    position: relative;
    height: 2px;
    border: none;
    background: rgb(177, 109, 177);
    width: 50%;
    margin-left: 25%;

}

/* END ACHIEVEMENTS */

/*  MAGAZINE */

.site-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
    background-image: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
    z-index: 1;
    min-height: 450px;
}

.breadcrumb-shape {

    left: 0;
    min-width: 100%;
}

.breadcrumb-shape img {
    left: 0;
    min-width: 100%;
}

.breadcrumb-title span {
    font-size: 60px;
    padding-bottom: 0px;
    text-shadow: var(--textshadow-1)
}

.breadcrumb-subtitle {
    font-size: 35px;
    color: #fff;
    font-weight: 450;
    margin-bottom: 10px;
    text-transform: uppercase
}

.magazine-wrapper {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - (314px));
    max-width: 90vw;
    margin: auto;
}

.magazine-previous {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    margin: auto;
    /* background-color: blue; */
    min-height: 50vh;

}

.magazine-recent {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 60%;
    min-height: 50vh;
    /* background-color: red; */

}

.mag-section-header {
    /* background-color: #5f3bff; */
    min-width: 100%;
    text-align: center;
    font-family: 'Barlow';
}


.header-btn {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 5px;
}

.volume-wrapper {
    min-height: 50vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 32px 0px;
}

.volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.volume h4 {
    text-align: center;
    min-width: 96%;
    margin-bottom: 3px;
}

.issues {
    border-bottom: dotted 3px #5f3bff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    overflow: hidden;
}

.recents-wrapper {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60%;
    min-height: 50vh;

    /* background-color: red; */

}

.recent-mags {
    max-height: 30%;
    max-width: 30%;
    border: solid 5px #5f3bff;
    border-radius: 20px;
    overflow: hidden;
}

/* MAGAZINE END */

/* COMPETITION */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.c-timeline {
    position: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 850%;
    padding: 5px 20px;
}

.c-timeline :before,
.c-timeline :after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 5;
}

.c-timeline:before {
    content: "Start";
    top: 0px;
}

.c-timeline:after {
    content: "END";
    bottom: 0px;
}

.c-timeline .c-timeline-blocks {
    margin: 50px 0px;
}

.c-timeline .c-timeline-blocks:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    border-left: 2px dotted #555;
}

.c-timeline .c-timeline-blocks .c-blocks {
    position: relative;
    width: calc(50% - 20px);
    margin: 20px 0px;
    padding-left: 5px;
    border: 1px solid #eee;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
}

.c-timeline .c-timeline-blocks .c-blocks:nth-child(even) {
    left: calc(50% + 20px);
}

/* END COMPETITION */