:root {
    --textshadow-1: 3px 3px 1px rgb(37, 15, 131);
}

/* INDEX */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slid {
    background: linear-gradient(to right, #fff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 150px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(200px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

.mentors {
    margin-top: 5%;
}

.ourmen {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.mentors h1 {
    text-align: center;
    margin-bottom: 10%;
}



.ourmen .ment {
    margin: 5px;
    background-color: whitesmoke;
    margin-bottom: 50px;
    line-height: 35px;
    position: relative;
    width: 20%;
    padding-bottom: 10px;
}

.ourmen .ment h3 {
    margin-top: 30%;
}

.ourmen .ment .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}

.ourmen .ment .img img {
    width: 125px;
    height: 125px;

}

.ourmen .ment p {
    font-size: 17px;
    font-weight: 500
}

.img-slider h3 {
    margin-top: 5%;
    margin-bottom: 25px;
    margin-left: 80%;
}

.img-slider .outlet {
    margin-left: 75%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.slider-wrapper div {
    position: relative;
}

.slider-wrapper {
    margin-top: 15vw;
    margin-left: 11vw;
}

.slide-image {
    height: 24vw;
}

.slide-image img {
    width: 24vw;
    cursor: pointer;
}

.slide-content {
    width: 25vw;
    color: #fff;
    padding: 3vw 18vw 3vw 9vw;
}

.slide-date {
    color: #0a8acb;
    font-size: 1.1vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    padding-bottom: 1.4vw;
}

.slide-title {
    font-size: 1.2vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    line-height: 1.55vw;
    padding-bottom: 1.8vw;
}

.slide-text {
    font-size: 0.80vw;
    line-height: 1.2vw;
    opacity: 0.8;
    padding-bottom: 4vw;
}

.slide-more {
    font-weight: 400;
    letter-spacing: 0.1vw;
    float: left;
    font-size: 0.9vw;
}

.slide-bullet {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #0b8bcc;
    border-radius: 200%;
    position: relative;
    margin-left: 1.2vw;
}

.slide-nav {
    margin-left: 64vw;
    margin-top: -5.5vw;
}

div.overlay-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s ease all;
}

div.overlay-blue:hover {
    background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
    width: 3.5vw;
    margin-top: -5.8vw;
    margin-left: 72vw;
    position: relative;
}

.arrow {
    display: inline-block;
    position: absolute;
    width: 1.2vw;
    height: 1.2vw;
    background: transparent;
    text-indent: -9999px;
    border-top: 0.15vw solid #fff;
    border-left: 0.15vw solid #fff;
    transition: all .1s ease-in-out;
    text-decoration: none;
    color: transparent;

}

.arrow:hover {
    border-color: #0A8ACB;
    border-width: 0.25vw;
}

.arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
}

.arrow.prev {
    transform: rotate(-45deg);
    left: 0;
}

.arrow.next {
    transform: rotate(135deg);
    right: 0;
}

.cont {
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 0px grey;
    box-sizing: border-box;
}

.slide-cont {
    font-family: Verdana, sans-serif;
    margin: 0;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: white;
    width: 50%;
    margin-left: 10%;
    margin-top: 15%;
    border:4px #1f2471 solid;
    border-radius: 15px;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;
}

.mySlides img {
    width: 25%;
    height: 25%;
    margin-bottom: 5%;
}

.mySlides h1 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color:  #1f2471;
    color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #fff;
    width: 50%;
    margin-left: 10%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #1f2471;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
/* .dot:hover {
    background-color: ;
} */

.author {
    color: cornflowerblue;
}

.mySlides p {
    color: black;
}

.about-left {
    position: relative;
    display: flex;
    justify-content: center;
    height: 20%;
}

.about-right {
    position: relative;
    display: block;
    padding-left: 25px;
    padding-top: 25%
}

.pricing-amount strong {
    font-size: 45px;
    font-weight: 600;
    color: #1f2471
}

.pricing-feature p {
    padding: 5%
}

/* END OF INDEX */

/* ABOUT US */
.about-section-1 {
    position: relative;
    /* background-color: #c7bbfc; */
    display: block;
    padding: 30px;
  }
  
  #left-section1 {
    background-color: #917af7;
  }
  
  .about-right-subheading {
    width: 100%;
    text-align: left;
    padding: 15px;
    margin-bottom: -40px;
    color: #1f2471;
  }
  
  .about-right-sec-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 585px;
  }
  
  .about-sec-1-row {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #917af7;
  }
  
  .about-right-main {
    width: 100%;
    /* align-content: flex-start; */
    text-align: left;
    padding-left: 15px;
  }
  
  .about-right-sec-text h4 {
    width: 100%;
    /* font-size: 22px; */
    text-align: left;
    padding: 15px;
  }
  
  .about-right-sec-text p {
    width: 100%;
    margin-top: -25px;
    /* font-size: 20px; */
    text-align: left;
    padding: 15px;
  }
  .about-row-sec {
    display: inline-block;
    border-radius: 10px;
    width: 45%;
    min-height: 100%;
    padding: 10px;
    margin: 10px;
    vertical-align: middle;
    /* background-color: #c7bbfc; */
    /* background-color: #917af7; */
    background-color: #ccc2fa;
    justify-content: center;
  }
  
  .about-left-sec {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-img-sec-1 {
    box-shadow: 0px 2px 25px -13px rgb(0 0 0 / 55%);
    width: 90%;
    border-radius: 10px;
  }
  
  #img-1 {
    /* background-color: #917af7; */
    background-color: #ccc2fa;
  }
  
  .theme-btn {
    /* background-color: #c7bbfc;  */
    background-color: #917af7;
    color: black;
    font-weight: bold;
  }
  
  .theme-btn:hover {
    color: white;
  }
  
  .about-section-2 {
    background-color: #917af7;
    display: flex;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  
  .about-sec-2-row {
    width: 100%;
  }
  
  .about-section-2 h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
    justify-content: center;
  }
  
  .about-sec-2-levels {
    width: 100%;
    height: 200px;
    padding-top: 90px;
    display: flex;
    margin: 6px;
  }
  
  .about-sec-2-top {
    /* background-color: red; */
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  .about-sec-2-middle {
    /* background-color: rgb(17, 255, 0); */
    width: 100%;
    height: 200px;
    margin: 10px 0px;
  }
  .about-sec-2-bottom {
    /* background-color: rgb(0, 13, 255); */
    width: 100%;
    height: 200px;
  }
  
  .about-section-2-levels:hover {
    text-align: center;
    /* -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); */
  }
  
  .about-section-3 {
    background-color: #917af7;
    padding: 20px 20px;
    margin-bottom: 10px;
  }
  
  .about-section-3-row {
    padding: 10px;
    margin: 15px;
    width: 100%;
    display: inline-block;
  }
  
  .about-sec-3-img {
    /* box-shadow: 0px 2px 25px -13px rgb(0 0 0 / 55%); */
    display: flex;
    margin: 10px;
    flex-direction: row;
    width: 40%;
    border-radius: 10px;
  }
/* END ABOUT US */

/* GALLERY */

/* END GALLERY */

/* ACHIEVEMENTS */

.ac-main-body {
    margin: 100px 100px 200px 100px;
    padding-left: 200px;
}

.ac-block{
    width: 400px;
    box-shadow: 0px 0px 7px rgb(202, 201, 201);
    border-radius: 5px;
    display: inline-grid;
    margin: 50px 70px 100px 70px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.ac-block p {
    padding: 20px;
}

.ac-block-img{
    width: 100%;
    border-radius: 5px;
    height: 413px;
}

.ac-block:hover, .ac-block:focus, .ac-block:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

hr {
    position: relative;
    height: 2px;
    border: none;
    background: rgb(177, 109, 177);
    width: 50%;
    margin-left: 25%;

}

/* END ACHIEVEMENTS */

/*  MAGAZINE */

.site-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
    background-image: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
    z-index: 1;
    z-index: 1;
    min-height: 450px;
}

.breadcrumb-shape {
    left: 0;
    min-width: 100%;
}

.breadcrumb-shape img {
    left: 0;
    min-width: 100%;
}

.breadcrumb-title span {
    font-size: 60px;
    padding-bottom: 0px;
    text-shadow: var(--textshadow-1)
}

.breadcrumb-subtitle {
    font-size: 35px;
    color: #fff;
    font-weight: 450;
    margin-bottom: 10px;
    text-transform: uppercase
}

.magazine-wrapper {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - (314px));
    max-width: 90vw;
    margin: auto;
}

.mag-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - (314px));
    max-width: 90vw;
    margin: auto;
    /* border: solid 2px #5f3bff; */

}


.magazine-previous {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    margin: auto;
    /* background-color: blue; */
    min-height: 50vh;

}

.magazine-recent {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 60%;
    min-height: 50vh;
    /* background-color: red; */

}

.mag-section-header{
    /* background-color: #5f3bff; */
    min-width: 100%;
    text-align: center;
    font-family: 'Barlow';
}


.header-btn {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 5px;
}

.volume-wrapper {
    min-height: 50vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 32px 0px;
}

.volume{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:15px;
    justify-content: center;
}

.volume h4{
    text-align: center;
    min-width: 96%;
    margin-bottom:3px;
}

.issues {
    border-bottom: dotted 3px #5f3bff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    overflow: hidden;
}

.recents-wrapper {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60%;
    min-height: 50vh;

    /* background-color: red; */

}

.recent-mags{
    max-height: 30%;
    max-width: 30%;
    border-right: solid 5px #5f3bff;
    border-bottom: solid 5px #5f3bff;
    border-radius: 20px;
    overflow: hidden;
    transition: ease 0.5s;
}

.recent-mags:hover {
    max-height: 30%;
    max-width: 30%;
    border-right: solid 5px #0a061f;
    border-bottom: solid 5px #03020a;
    border-radius: 20px;
    overflow: hidden;
}

/* COMPETITION */
.site-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
    background-image: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
    z-index: 1;
    min-height: 380px;
}

.breadcrumb-shape {

    left: 0;
    min-width: 100%;
}

.breadcrumb-shape img {
    left: 0;
    min-width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* The actual timeline (the vertical ruler) */
.c-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}
/* The actual timeline (the vertical ruler) */
.c-timeline::after {
    content: '';
    position: absolute;
    width: 0px;
    border-left: 3px dashed black;
    /* background-color: black; */
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.c-timeline .c-timeline-blocks .c-blocks {
    padding: 10px 10px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.c-timeline .c-timeline-blocks .c-blocks {
    position: relative;
    width: calc(50% - 35px);
    margin: 20px 0px;
    /* padding-left: 5px; */
    border: 1px solid #eee;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
}

.c-timeline .c-timeline-blocks .c-blocks:nth-child(even) {
    left: calc(50% + 35px);
}

/* The circles on the timeline */
.c-timeline .c-timeline-blocks .c-blocks:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -47px;
    background-color: black;
    border: 4px solid #7864d4;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.c-timeline .c-timeline-blocks .c-blocks:nth-child(even):before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -50px;
    background-color: black;
    border: 4px solid #7864d4;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Arrow on timeline */
.c-timeline .c-timeline-blocks .c-blocks:nth-child(odd)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

.c-timeline .c-timeline-blocks .c-blocks:nth-child(even)::after {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

.c-timeline .c-timeline-blocks .c-blocks .c-header h2 {
    font-size: 32px;
    margin-bottom: 2px;
    color: #fff;
}

.c-timeline .c-timeline-blocks .c-blocks .c-header {
    padding: 5px;
    background: #7864d4;
}

.c-timeline .c-timeline-blocks .c-blocks .c-header> a{
    position: absolute;
    font-size: 14px;
    color: #111;
    font-weight: 600;
    font-style: italic;
    background: #e6c1eb;
    border: 1px solid #eee;
    padding: 2px 10px;
    border-radius: 10px;
}


.c-timeline .c-timeline-blocks .c-blocks:nth-child(odd) .c-header > a
{
    left: 630px;
    top: 8px;
    min-width: 300px;
} 
.c-timeline .c-timeline-blocks .c-blocks:nth-child(even) .c-header > a
{
    right: 630px;
    top: 8px;
    min-width: 300px;
} 
/* END COMPETITION */

/* EVENTS */

.site-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
    background-image: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
    z-index: 1;
    min-height: 380px;
}

.breadcrumb-shape {

    left: 0;
    min-width: 100%;
}

.breadcrumb-shape img {
    left: 0;
    min-width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
/* The actual timeline (the vertical ruler) */
.e-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}

/* The actual timeline (the vertical ruler) */
.e-timeline::after {
    content: '';
    position: absolute;
    width: 0px;
    border-left: 3px dashed black;
    /* background-color: black; */
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.e-timeline .e-timeline-blocks .e-blocks {
    padding: 10px 10px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.e-timeline .e-timeline-blocks .e-blocks {
    position: relative;
    width: calc(50% - 35px);
    margin: 20px 0px;
    /* padding-left: 5px; */
    border: 1px solid #eee;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.e-timeline .e-timeline-blocks .e-blocks:nth-child(even) {

    left: calc(50% + 35px);
}

/* The circles on the timeline */
.e-timeline .e-timeline-blocks .e-blocks:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -47px;
    background-color: black;
    border: 4px solid #7864d4;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.e-timeline .e-timeline-blocks .e-blocks:nth-child(even):before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -50px;
    background-color: black;
    border: 4px solid #7864d4;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Arrow on timeline */
.e-timeline .e-timeline-blocks .e-blocks:nth-child(odd)::before {

    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}


.e-timeline .e-timeline-blocks .e-blocks:nth-child(even)::after {

    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}
.e-timeline .e-timeline-blocks .e-blocks .e-header h2 {
    font-size: 32px;
    margin-bottom: 2px;
    color: #fff;
}

.e-timeline .e-timeline-blocks .e-blocks .e-header {
    padding: 15px;
    background: #7864d4;
    border-radius: 10px;
    margin-bottom: 10px;
}

.e-timeline .e-timeline-blocks .e-blocks .e-header> a{
    position: absolute;
    font-size: 14px;
    color: #111;
    font-weight: 600;
    font-style: italic;
    background: #e6c1eb;
    border: 1px solid #eee;
    padding: 2px 10px;
    border-radius: 10px;
}


 .e-timeline .e-timeline-blocks .e-blocks:nth-child(odd) .e-header > a
{
    right: -360px;
    top: 8px;
} 
.e-timeline .e-timeline-blocks .e-blocks:nth-child(even) .e-header > a
{
    left: -360px;
    top: 8px;
}

.e-icons {
   color:#eee;
   margin-right: 5px;

}

.e-header p{
    color:#eee;
}



/* END EVENTS */

.mag-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding: 0px 30px 0px 40px;
    margin: 50px auto 30px auto;
    min-height: 70vh;
    background: linear-gradient(45deg, #896eff 0, rgb(95, 59, 255) 51%, #896eff);
    /* border: solid 2px #5f3bff; */
}


.carousel-container {
    /* left: calc(50% - 300px); */
    min-height: 500px;
    margin-left: 75px;
    display: flex;
}

.card {
    display: flex;
    height: 150%;
    width: 150%;
    box-shadow: -3px 0px 20px 5px hwb(252 12% 74% / 0.3);
    transition: 0.4s ease-in-out;
    position: relative;
    right: 50px;
    overflow: hidden;
    border-radius: 18px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-50px);
    transition: 0.4s ease-in-out;
    z-index: 50;
    border-width: 5px;
    border-style: solid;
    border-color: whitesmoke;
}

.card:hover img {
    /* opacity: 50%; */
    overflow: hidden;
    filter: blur(10px);
    /* filter:; */
    transition: 0.4s ease-out;
}

.title {
    color: whitesmoke;
    font-weight: 800;
    position: absolute;
    font-size: 40px;
    top: 130px;
    text-align: center;
    width: 100%;
    z-index: 500;
    display: none;
    text-shadow: var(--textshadow-1);
    font-family: 'Barlow';
}

.read-btn {
    position: absolute;
    text-align: center;
    width: 60%;
    padding: 10px;
    z-index: 500;
    font-family: 'Barlow';
    left: 75px;
    right: 75px;
    bottom: 200px;
    border-radius: 8px;
    display: none;
}

.fa-arrow-right {
    content: "\f061";
}

.card:hover .title {
    display: inline;
}

.card:hover .read-btn {
    display: inline;
}



.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, #896eff 0, #5f3bff 51%, #896eff);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}


/* MAGAZINE END */

/* ACM-W-TEAM-TEXT  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: rgba(23,162,184,0.3);
}

.ACM_W-Team_Text_container{
    background-color: rgb(229, 236, 236);
    /*width: 100%;
    height: auto;*/
}
.ACM_W-Team_Text_wrapper{
  max-width: 1200px;
  /*max-height: 420px;*/
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  /*width: 100%;
 height: auto;*/
 overflow-x: auto;
}
.ACM_W-Team_Text_wrapper::-webkit-scrollbar{
    width: 0;
}

.ACM_W-Team_Text_wrapper .ACM_W-Team_Text_box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  border: 3px solid #b4a6f1;
  /* box-shadow: 0px 4px 8px rgba(0,0,0,0.15); */
  box-shadow:   1px 1px 0px #896eff,
                2px 2px 0px #896eff,
                3px 3px 0px #896eff,
                4px 4px 0px #896eff,
                5px 5px 0px #896eff,
                6px 6px 0px #896eff,
                7px 7px 0px #896eff,
                8px 8px 0px #896eff,
                9px 9px 0px #896eff,
                10px 10px 0px #896eff;

}
.ACM_W-Team_Text_box:hover {
    transform: scale(0.95);
    /* box-shadow: none; */
}
.ACM_W-Team_Text_wrapper .ACM_W-Team_Text_box i.quote{
  font-size: 20px;
  color: #896eff;
  margin-top: 10px;
}
.ACM_W-Team_Text_wrapper .ACM_W-Team_Text_box .ACM_W-Team_Text_content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.ACM_W-Team_Text_box .ACM_W-Team_Text_info .ACM_W-Team_Text_name{
  font-weight: 600;
  font-size: 17px;
}
.ACM_W-Team_Text_box .ACM_W-Team_Text_info .ACM_W-Team_Text_job{
  font-size: 16px;
  font-weight: 500;
  color: #896eff;
}
.ACM_W-Team_Text_box .ACM_W-Team_Text_info{
  margin-top: 2px;
}
.ACM_W-Team_Text_box .ACM_W-Team_Text_info  i{
  color: #17a2b8;
}
.ACM_W-Team_Text_box .ACM_W-Team_Text_content .ACM_W-Team_Text_image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.ACM_W-Team_Text_content .ACM_W-Team_Text_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.ACM_W-Team_Text_image{
   text-align: center;
   margin-bottom: 10px;
}
.ACM_W-Team_Text_box:hover .ACM_W-Team_Text_content .ACM_W-Team_Text_image img{
  border-color: #fff;
}
.right_side_quote{
    float: right;
}
@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}
/* ACM-W-TEAM-TEXT END */
